.nav 
    display: flex
    align-items: center
    height: 70px
    &__list 
        display: flex
        justify-content: space-around
        width: 100%
    &__link 
        font-size: 12px
        line-height: 1
        color: #a1a1a1
        display: flex
        flex-direction: column
        align-items: center
    &__icon
        margin-bottom: 7px
        width: 25px
        height: 25px
        fill: #a1a1a1
        
.nav__link.active 
    color: #000000
    .nav__icon 
        fill: #000000

.home
    &::before 
        content: ''
        position: absolute
        top: -30px
        left: 50%
        transform: translateX(-50%)
        width: 25px
        height: 25px
        background: url('../images/icons/home.svg') no-repeat
        background-size: cover